# groq or gemini
LLM_PROVIDER=groq

GROQ_API_KEY=
GOOGLE_API_KEY=

GROQ_MODEL=llama-3.3-70b-versatile
GEMINI_MODEL=

EMBED_MODEL=all-MiniLM-L6-v2

INGEST_DATE_START=2020-01-01
INGEST_DATE_END=

PINECONE_API_KEY=
PINECONE_INDEX=faisneis-speeches

CACHE_DIR=./data/cache
